body {
  color: black;
  background-color:cornsilk;
  font-family: 'Roboto Mono', monospace;
}
  .jumbotron {
    background-image: url("../biodiverse.jpeg");
    background-size: 100% 100%;
    text-align: center;
    color:cyan;
  }
