body {
  color: black;
  background-color:cornsilk;
  font-family: 'Roboto Mono', monospace;
}
  .jumbotron {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wired.co.uk%2Farticle%2Fnavel-gazing-has-its-benefits&psig=AOvVaw0p9VQO2--KzLcjGqqqcUyf&ust=1634134923723000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOC0rZOJxfMCFQAAAAAdAAAAABAD");
    background-size: 100% 100%;
    text-align: center;
    color:cyan;
  }
